.bookmarks-component {
    display: flex;
    flex-direction: row;
    height: 100%;

    .example-form {
        width: 100%;
    }

    .example-full-width {
        width: 100%;
    }

    .example-form {
        flex-grow: 1;

        .filter {
            width: 100%;
        }
    }

    .edit-toggle, .create-toggle {
        background: white;
        padding: 16px;
        width: 25%;
    }
}

.bookmarks-form {
    padding: 16px;
}
